@import "tailwindcss";

@theme {
    --font-primary: "Poppins", "sans-serif";
    --font-sans: "Poppins", "sans-serif";
    --font-serif: "Merriweather", "serif";
    --font-semibold: "Poppins", "sans-serif", "bold";
    /* ... */
  }
